<form action="/cryptids" method="POST">
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">
    <label for="cryptidURL">Type</label>
    <input id="cryptidURL" type="text" name="img_url">
    <input type="submit">
</form>